.btn {
    background: linear-gradient(98.99deg, #0379FE -0.01%, #80BBFE 128.21%);
    padding: 12px 24px;
    border-radius: 200px;
    box-shadow: 0 2px 6px 1px #0000261F;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: 0.12em;
    transition: 0.3s all;
    border: 1px solid var(--mantine-color-white);


    &:hover {
        background: linear-gradient(98.99deg, #003980 -0.01%, #1864c7 128.21%);
        transform: scale(0.98);
    }


    @media (max-width: $mantine-breakpoint-xs) {
        text-align: center;
        width: 100%;
    }
}

.active {
    background: transparent;
    color: black;
    border: 1px solid var(--mantine-color-gray-6);

    &:hover {
        color: white;
    }
}